/* Navigation Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root{
    /* Colors */
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --blue: rgb(66, 135, 245);
    --lightCream: rgb(245, 241, 230);
    --lightBlack: rgb(66, 71, 67),;
    --hover1: rgb(130, 126, 116);

    /* Fonts */
    --lg-sm: 300;
    --lg-xm: 500;
    --lg-am: 700;

    /* transition */
    --transtionAll: all 0.7s;

}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--lightCream);
    max-width: 100%;
    height: 100vh;
}

p{
    font-size: 17px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

button{
    border: none;
    outline: none;
}

.all{
    padding: 0px 55px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-one{
    background-color: var(--blue);
    color: white;
    height: 50px;
    cursor: pointer;
}

.left > div + div{
    margin-left: 30px;
}

.right > div{
    margin-left: 20px;
}

.left > div:hover, 
.right > div:hover{
    color: var(--hover1);
    transition: var(--transtionAll);
}

/* span{
    margin-left: 5px;
} */

.navbar-second{
    background-color: var(--white);
    height: 90px;
    position: sticky;
    top: 0;
}

.logo{
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    color: blue;
}
.img-logo{
    
}

a{
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 30px;
    color: var(--lightBlack);
    font-weight: var(--lg-am);
}

.menu-links{
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 1rem;
}

.logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.search{
    border: 1px solid var(--lightCream);
    padding: 5px 15px;
}

.search input{
    font-size: 18px;
}

.search-icon{
    background: var(--hover1);
    padding: 9px 10px 2px;
    color: var(--white);
    transition: var(--transtionAll);
    border-radius: 2px;
    cursor: pointer;
}

.search-icon:hover{
    background: var(--blue);
}

.menubars{
    font-size: 20px;
}

.hover-i{
    cursor: pointer;
    transition: var(--transtionAll);
}

.hover-i:hover{
    color: var(--hover1);
}

[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0;
    font-size: 20px;
  }


/* Menu bars */
.sidebar{
    display: block;
    background: var(--Black);
    height: 100vh;
    padding: 10px 0px;
    right: -900px;
    margin: 2px 0;
    width: 25%;
    position: fixed;
    top: 0;
    padding-top: 30px;
    background: var(--white);
    line-height: 3rem;
    transition: right .9s;
    z-index: 1000;
}

.menu-close{
     top: 0;
     left: -40px;
     cursor: pointer;
     position: absolute;
     font-size: 45px;

}

.menu-open{
    cursor: pointer;
}

.greet{
    background-color: var(--blue);
    width: 100%;
}

.greet p{
    text-align: center;
    color: var(--white)
} 

.sidebar-links{
    padding-left: 25px;
}